body {
    background-color: pink;
    font-family: "franklin gothic";
    padding-bottom: 100px;
    padding-top: 30px;
}

header {
  height:24px;
  width: 100%;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  top: 0pt;
  left: 0pt;
}

footer {

  height:24px;
  width: 100%;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
}
.center {
  text-align: center;
  margin-top: 10px;
}

h2 {
  color: navy;

}

h1 {
    color: navy;

}

input {
  width: 25%;
}

input.message {
  width: 50%;
  height: 200px;
}

div.hd {
  background-color: white;
}

div.name {
  color: red;
  font-size: 30px;
}
div.post {
  background-color: white;
  max-width: 500px;
  margin: auto;
  font-size: 20px;
}
